/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* background-color: rgb(0, 51, 124); */
}

/* .cardHighlight {
  min-height: 100%;
} */


.navBarIan {
  height: 1rem;
  background-color: rgb(19, 0, 90);
  font-size: 1.3rem;
}

.navBarColor {
  background-color: rgb(19, 0, 90);
}


.backgroundIan {
  background-color: rgb(0, 51, 124);
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  height: 100%;
  width: 100%;
  position: relative;
}


/* homepage picture */
.imageDyroth {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: top center;

}

.imageFredrinn {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: top center;

}

/* homepage picture */


/* Shop Card fonts style */
.cardTitle {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(21, 2, 34);
}

.myCarousel {
  background-color: white;
}


/* homePage Higlights */
.higlightsCard {
  background-color: white;
}

#higlightsCard {
  background-color: white;
}


/* homePage Higlights */


/* Banner on homepage */

.divider {
  border-bottom: .5rem solid #686073;
  margin: 1rem 0;
  padding-bottom: 1rem;

}

/* Banner on homepage */



/* Add new products */
.labelName {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.formTitle {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}

/* Add new products */